<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Try2EscapeRD</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  <!-- Favicons -->
  <link href="/img/favicon-try2escape.png" rel="icon">
  <link href="/img/apple-touch-icon-try.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

  <!--Animate css-->
  <link rel="stylesheet" href="animate.min.css">
  

  <!--<link href="css/creative.css" rel="stylesheet">-->
  <!--<link href="css/creative.min.css" rel="stylesheet">-->
  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
  <!-- ==================================================
    Some credits
    
    Home background pattern: http://www.heropatterns.com/
     
  ======================================================= -->

</head>

<body onload ="triggerFirstCalendar()">

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left nav-logo">
       <!-- <h1><a href="#inicio" class="scrollto">Try2Escape</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
         <a href="#inicio"><img src="img/Logotipo-3.png" style="max-width: 100%; height:auto;" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#inicio">Home</a></li>
          <li><a href="#intro">Misiones</a></li>
          <li><a href="#call-to-action">Reserva</a></li>
          <li><a href="#contact">Contacto</a></li>
          
      </nav><!-- #nav-menu-container -->
    
    
    
    </div>
    
    
  </header><!-- #header -->
  
 
  <header id="inicio">

    <section id="beginning" class="hero-section hero-section--image clearfix clip">
      <div class="hero-section__wrap">
          <div class="hero-section__option">
              <img id= hero_image src="img/img/logollave-2.png" alt="Hero section image">
          </div>
          <!-- .hero-section__option -->
    
          <div class="container">
              <div class="row-inicio">
                  
                  <div class="offset-lg-2 col-lg-8">
                      
                      <div id="begin" class="title-01 title-01--11 text-center">
                          <h2 class="title__heading">
                              <span>Somos</span>
                              <br>
                              <strong class="hero-section__words">
                                  <span class="title__effect is-visible">Diversión</span>
                                  <span class="title__effect">Creatividad</span>
                                  <span class="title__effect">Equipo</span>
                                  <span class="title__effect">Try2Escape</span>
                              </strong>
                          </h2>
                          <div class="text-faded">Tú y tu equipo tienen 60 minutos para escapar,</div>
                          
                          <div class="text-faded">¿podrán con la adrenalina?</div>
                          
                          
                          <!-- Options btn color: .btn-success | .btn-info | .btn-warning | .btn-danger | .btn-primary -->
                          
                        </div> <!-- .title-01 -->
                        
                    </div>
                </div>
                <div class="row-btn-inicio">
                  <!--<div onmouseover="mOn()" onmouseout="mOut()" onclick="touchClick()" class="btn-inicio"><a class="btn btn-primary btn-xl js-scroll-trigger" href="#beginning">¿Qué es un Escape Room?</a></div>-->
                  <div  id="btn-inicio" class="btn-inicio"><a class="btn-test">¿Qué es un Escape Room?</a></div>
                </div>
            </div>
        </div>       

      </section>

  </header>

  
  <main id="main">

<!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url('../img/img/pub08.png');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Misión 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#call-to-action" class="btn-inicio btn-test scrollto">¡Reserva ya!</a>
              </div>
            </div>
          </div> 

          <div class="carousel-item" style="background-image: url('../img/img/pub06.png');">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Misión 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#call-to-action" class="btn-inicio btn-test scrollto">¡Reserva ya!</a>
              </div>
            </div>
          </div> 
          
        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>    
  </section><!-- #intro -->



  
    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeIn">
      


      <div id="Reservaciones" class="section-header">
          <h3>Reserva ya!</h3>
          <p id="reservaciones-parrafo">Escoge un dia</p>
        </div>
        <div id="calendar-container" class="calendar-container">
          <div id="calendar" class="calendar">
              <div class="months">
                <a class="carousel-control-prev-own"  onclick = "changeMonth(0)">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <!--<div class = "day" onclick = "changeMonth(0)"></div>-->
                <div id="month" class="month">
                  <span id="month-text" class="month-text"></span>
                </div>
                <!--<div class = "day" onclick = "changeMonth(1)"></div>-->
                <a class="carousel-control-next-own" onclick = "changeMonth(1)">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
  
            <div id="calendar-days" class="days" >
              
            </div>  
  
          </div>
          
          <div id="container-form" class="container-form">
            <form method="POST" action="/form/submitted" id="register-form">
              <div class="row">
                  <!--<div class="col-25">
                      <label for="country">Misión</label>
                  </div>-->
                  <div class="col-100">
                      <select id="form-mision" onchange="setMission()" name="mission">
                          <!--<option value="mision1">Misión 1</option>
                          <option value="mision2">Misión 2</option>
                          <option value="mision3">Misión 3</option>-->
                       </select>
                  </div>
              </div>
          
              <div class="row">
                      <!--<div class="col-25">
                          <label for="country">Hora</label>
                      </div>-->
                      <div class="col-50">
                          <select id="form-hora" name="time">
                              <!--<option value="1:00pm">1:00 P.M.</option>
                              <option value="2:00pm">2:00 P.M.</option>
                              <option value="3:00pm">3:00 P.M.</option>-->
                           </select>
                      </div>
                      <div class="col-50">
                        <select id="form-personas" name="people">
                            <!--<option value="2personas">2 personas</option>
                            <option value="3personas">3 personas</option>
                            <option value="4personas">4 personas</option>-->
                         </select>
                    </div>
                  </div>
          
              <div class="row">
                <!--<div class="col-25">
                  <label for="fname">Nombre y Apellido</label>
                </div>-->
                <div class="col-100">
                  <input type="text" id="form-nombre" name="name" data-rule="required" placeholder="Nombre y Apellido...">
                </div>
              </div>
          
              <div class="row">
                  <!--<div class="col-25">
                      <label for="fname">Teléfono</label>
                  </div>-->
                  <div class="col-100">
                      <input type="text" id="form-telefono" name="phone" data-rule="required" placeholder="Teléfono... (solo números)">
                  </div>
              </div>
          
              <div class="row">
                      <!--<div class="col-25">
                          <label for="fname">E-mail</label>
                      </div>-->
                      <div class="col-100">
                          <input type="text" id="form-correo" name="email" data-rule="required" placeholder="Correo electrónico...">
                      </div>
                  </div>
          
              <div class="row">
                <div class= "btn-submit" onclick="submitForm()"><strong>¡Regístrame!</strong></div>
                <!--<input type="submit" value="¡Regístrame!" class= "btn-submit"> -->
                <div class= "back">
                  <a class=""  onclick = "formBack()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                </div>
              </div>
            </form>
          </div>
      
        </div>  
        
      </section><!-- #call-to-action -->
  
      <!--==========================
        Contact Section
      ============================-->
      <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
  
          <div class="section-header">
            <h3>Contáctanos</h3>
            <!--<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>-->
          </div>
  
          <div class="row contact-info">
  
            <div class="col-md-4">
              <div class="contact-address">
                <i id="address-icon" class="ion-ios-location-outline"></i>
                <h3>Dirección</h3>
                <address id="address-link">A108 Adam Street, NY 535022, USA</address>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-phone">
                <i id="telephone-icon" class="ion-ios-telephone-outline"></i>
                <h3>Teléfono</h3>
                <p><a id="telephone-link" href="tel:+18093832467">+1 809 383 2467</a></p>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="contact-email">
                <i id="email-icon" class="ion-ios-email-outline"></i>
                <h3>E-mail</h3>
                <p><a id="email-link" href="mailto:try2escape@gmail.com">Try2Escape@gmail.com</a></p>
              </div>
            </div>
  
          </div>
  
          <!--<div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>-->
  
        </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->

    <div class="foot">
      <div class="contenedor">
        <section class="socializa">
          
        <a href="#" target="_blank" ><i class="fab fa-facebook-f"></i></a>
        <!--<a href="#" target="_blank" ><i class="fab fa-twitter"></i></a>-->
        <a href="#" target="_blank" ><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank" ><i class="fab fa-youtube"></i></a>
        <!--<a href="#" target="_blank" ><i class="fab fa-google-plus-g"></i></a>-->
       </section>
    </div>
    </div>

 <footer id="footer">
    

    <div class="container-footer">
      <div class="copyright">
        &copy; Copyright <strong>BizPage</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage
        -->
        Best <a href="https://bootstrapmade.com/">Bootstrap Templates</a> by BootstrapMade
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <!--<script src="contactform/contactform.js"></script>-->

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>
  <script src="/js/own.js"></script>

  <!--<script src="js/animate-headline.js"></script>-->

</body>
</html>
